body {
  width: 100%;
  background-image: url(../image/fenway.jpg);
  background-size: cover;
}

h1 {
  color: white;
  outline-color: red;
}

#container {
  margin: 0px auto;
  width: 480px;
}

#heading {
  text-align: center;
  font-size: 50px;
}


.cell {
  border: 5px solid white;
  width: 150px;
  height: 150px;
  background-color: rgba(255,255,255,0.33);
  float: left;
}

#scoreboard {
  text-align: center;
  color: white;
  background-color: rgba(150,200,200,0.5);
  border: 5px solid white;
  padding-bottom: 10px;
}

