body {
  width: 100%;
  background-image: url(../image/fenway.jpg);
  background-size: cover;
}

h1 {
  color: white;
}

#container {
  margin: 0px auto;
  width: 480px;
}

#heading {
  text-align: center;
  font-size: 50px;
}


.cell {
  border: 5px solid white;
  width: 150px;
  height: 150px;
  background-color: rgba(255,255,255,0.33);
  float: left;
}

#scoreboard {
  text-align: center;
  color: white;
 margin-bottom: 10px;
}

#soxScore {
  text-align: center;
  color: white;
  padding-top: 8px;
  border: 4px 0px 0px 0px;
  background-color: rgba(255,255,255,0.33);
  height: 40px;
  width: 145px;
  display: block;
  float: left;
  border: 5px solid white;
  margin-bottom: 20px;

}

#yankScore {
  text-align: center;
  color: white;
  padding-top: 8px;
  background-color: rgba(255,255,255,0.33);
  height: 40px;
  width: 140px;
  display: block;
  float: right;
  border: 5px solid white;
  margin-bottom: 20px;
}

#yankLogo {
  float: right;
}

#resetGameCount {
  float: right;
  margin-right: 5%;
}

