body {
  width: 100%;
}

#container {
  margin: 10px auto;
  width: 600px;
}

#heading {
  text-align: center;
  font-family: 'Finger Paint', cursive;
  font-size: 50px;
}


.cell {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  background-color: pink;
  float: left;
}

